.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.bg-express {
  background: #eff5fb;
  box-shadow: inset -10px 0px 20px rgba(194, 203, 217, 0.15);
  border-radius: 0px;
}

.express-lands {
  /* position: absolute; */
  /* width: 97px; */
  height: 20px;
  left: 1076px;
  top: 259px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 122% */

  display: flex;
  /* justify-content: center; */
  align-items: center;

  color: #5a99c4;
}

.s {
  width: 32px;
  height: 32px;
  /* line-height: 500px; */
  border-radius: 50%;
  font-size: 16px;
  padding: 5px;
  color: #fff;
  left: 1036px;
  text-align: center;
  background: #5a99c4;
  line-height: 19px;
  font-family: "Source Sans Pro";
}

.dashboard-active {
  width: 180px;
  height: 48px;
  left: 28px;
  top: 178px;

  background: #ffffff;
  /* card/small shadow */

  box-shadow: 0px 10px 20px rgba(184, 193, 209, 0.1);
  border-radius: 5px;
}

.dashboard-active i {
  color: #5a99c4;
}

.dashboard-active .nav-link {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #133f77;
}

.dashboard-active .nav-link i {
  color: #133f77;
}
.nav-link {
  top: 251px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #404040;
}

.nav-link i {
  color: #b7bdcd;
}

.users {
  margin-top: 167px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #383f51;
}

.users i {
  color: #b7bdcd;
}

.hamburger-icon {
  left: 21.67%;
  right: 76.68%;
  top: 5.89%;
  bottom: 93.78%;
  width: 23.83px;
  height: 3px;
  background: #19304d;
}

.notifications-card {
  background: #ffffff;
  /* card/small shadow */
  position: relative;
  box-shadow: 0px 10px 20px rgba(184, 193, 209, 0.1);
  border-radius: 10px;
  width: 262px;
  height: 71px;
  left: 0px;
  top: 0px;
}

.notifications-card i {
  position: absolute;
  left: -4.58%;
  right: 80.92%;
  top: -4.23%;
  bottom: 0%;
  color: #fef6e7;
  width: 62px;
  height: 74px;
  font-size: 62px;
  top: -3px;
  left: -8px;
}

.notifications-card p {
  position: absolute;
  left: 8.4%;
  right: 39.69%;
  top: 22.54%;
  bottom: 49.3%;

  font-family: "Nunito Sans", sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  color: #19304d;
}

.second {
  position: absolute;
  left: 8.4%;
  right: 39.69%;
  top: 56.34%;
  bottom: 23.94%;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */

  color: #383f51;
}

.third {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 206px;
  top: 14px;

  background: #ff6542;
  border-radius: 10px;
}

.third span {
  position: absolute;
  left: 36.11%;
  right: 11.07%;
  top: 27.21%;
  bottom: 33.8%;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

#n53_588 {
  color: rgb(253, 245, 230);
  left: -4.58015%;
  right: 80.916%;
  top: -4.23%;
}

.fourth {
  position: absolute;
  left: 9.92%;
  right: 40.84%;
  top: 25.35%;
  bottom: 46.48%;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  color: #19304d;
}

.fifth {
  left: 9.92%;
  right: 67.18%;
  top: 56.34%;
  bottom: 23.94%;

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */

  color: #383f51;
}

.logout {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 206px;
  top: 14px;

  background: #133f77;
  border-radius: 10px;
}

.button-img {
  position: absolute;
  left: 34.54%;
  right: 9.73%;
  top: 17.69%;
  bottom: 47.18%;
  color: #ffffff;
}

.logout-text {
  /* position: absolute; */
  width: 31px;
  height: 12px;
  left: 213px;
  top: 40px;

  margin-top: 21px;
  margin-bottom: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

/* second row */

.dashboard-text {
  width: 81px;
  height: 22px;
  left: 304px;
  top: 110px;

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #19304d;
}

.settings {
  /* position: absolute; */
  /* left: 997px; */
  background: #d9f2fc;
  border-radius: 5px;
}

.center-border {
  /* position: absolute; */
  width: 29px;
  height: 0px;
  left: 1203px;
  top: 114px;

  opacity: 0.1;
  border: 1px solid #000000;
  transform: rotate(90deg);
}

.customize {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: #1b5bac;
}

.date {
  width: 116px;
  height: 20px;
  left: 1230px;
  top: 120px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  color: #000000;
}

/* third card row */

.card-1 {
  width: 487px;
  height: 224px;
  left: 304px;
  top: 159px;

  background: linear-gradient(147.87deg, #133f77 26.36%, #0f9cda 125.59%);
  border-radius: 10px;
}

.card-2 {
  width: 487px;
  height: 224px;
  left: 864px;
  top: 159px;

  background: #e5eefb;
  border-radius: 10px;
}

.card-user {
  width: 251px;
  height: 25px;
  left: 335px;
  top: 204px;

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  /* display: flex;
align-items: center; */
  text-transform: uppercase;

  color: #78c2ed;
}

.card-user-text {
  width: 307px;
  height: 38px;
  left: 335px;
  top: 241px;

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.tour-button {
  width: 138px;
  height: 44px;
  left: 335px;
  top: 304px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(16, 60, 116, 0.3);
  border-radius: 6px;
}

.tour-text {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 45px;
  margin-top: 10px;
  color: #1b5bac;
}

.imac {
  width: 250px;
  left: 0%;
  right: 0%;
  top: 4.13%;
  bottom: 8.85%;

  /* background: #133f77; */
  /* opacity: 0.7; */
}

.card-optimized {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* display: flex;
  align-items: center; */

  color: #133f77;
}

.card-user-text-optimized {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
}

.tour-button-blue {
  background: #1b5bac;
  box-shadow: 0px 10px 20px rgba(16, 60, 116, 0.3);
  border-radius: 6px;
  width: 138px;
  height: 44px;
  left: 335px;
  top: 304px;
}

.tour-text-blue {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 45px;
  /* identical to box height, or 133% */

  /* display: flex;
  align-items: center;
  text-align: center; */

  color: #ffffff;
}

/* fourth and final row */

.card-rows {
  margin-top: 110px;
}
.budget-card-white {
  width: 333px;
  height: 472px;
  left: 304px;
  top: 420px;

  background: #ffffff;
  border-radius: 10px;
}

.budget-top-text {
  height: 22px;
  left: 326px;
  top: 458px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.09625px;

  color: #19304d;
}

.budget-select {
  width: 95px;
  height: 30px;
  left: 527px;
  top: 453px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(184, 193, 209, 0.26);
  border-radius: 5px;
}

.year-select {
  width: 58px;
  height: 19px;
  left: 536px;
  top: 459px;

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.09625px;

  color: #1a1423;
}

.caret-design {
  width: 7.5px;
  height: 4.63px;
  left: 604.75px;
  top: 466.37px;
}

.budget-mid-text {
  height: 22px;
  left: 326px;
  top: 458px;

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.09625px;

  color: #19304d;
}

.ellipse-1 {
  width: 132px;
  height: 132px;
  left: 399px;
  top: 560px;

  color: #e2edf8;
}

.ellipse-2 {
  /* position: absolute; */
  width: 132px;
  height: 132px;
  left: 399px;
  top: 560px;

  color: #1b5bac;
  box-shadow: 0px 5px 20px rgba(27, 91, 172, 0.4);
  border-radius: 40px;
}

.payable-amount {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.09625px;

  color: #19304d;
}

.amount {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: 0.09625px;

  color: #19304d;
}

.amount-badges {
  height: 10px;
  left: 508px;
  top: 743px;
}

.bg-card-white {
  width: 317px;
  height: 157px;
  margin-left: 10px;
  top: 721px;

  background: #fbfcfe;
  border-radius: 10px;
}

.bg-card-orange {
  width: 317px;
  height: 157px;
  margin-left: 10px;
  top: 721px;
  background: #fff7f5;
  border-radius: 10px;
}

.bg-card-blue {
  /* position: absolute; */
  width: 317px;
  height: 157px;
  margin-left: 10px;
  top: 721px;

  background: #000000;
  opacity: 0.3;
  border-radius: 0px 10px 10px 10px;
}

.budget-card {
  width: 333px;
  height: 472px;
  left: 304px;
  top: 420px;
  border-radius: 10px;
}

.bg-gradient {
  width: 333px;
  height: 472px;

  background: linear-gradient(0deg, #0f9cda 26.48%, #00c49a 175.16%);
  z-index: 1;
  border-radius: 10px;
}

.gradient-white {
  /* position: absolute; */
  color: #ffffff;
}

.chart-text {
  /* Centered text */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.chart {
  position: relative;
  text-align: center;
  color: white;
}
