<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-12 d-none d-md-block bg-express sidebar">
      <nav>
        <p class="express-lands mt-5"> <span class="s mx-2">S</span> Express Lands</p>
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <div class="dashboard-active mt-5">
                <a class="nav-link" href="#">
                  <i class="fas fa-home mr-3"></i>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </div>

            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" href="#">
                <i class="fas fa-user-friends mr-3"></i>
                Menu Item 1
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" href="#">
                <i class="fas fa-user-friends mr-3"></i>
                Menu Item 2
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" href="#">
                <i class="fas fa-coins mr-3"></i>
                Menu Item 3
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" href="#">
                <i class="fas fa-user-check mr-3"></i>
                Menu Item 4
              </a>
            </li>

          </ul>


          <ul class="nav flex-column mb-2 ">
            <li class="nav-item mb-5 ">
              <a class="nav-link users" href="#">
                <i class="fas fa-cog mr-3"></i>
                Manage Users
              </a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-10 col-12 col-lg-10 bg-express ">

      <div class="row mt-3">



        <div class="col-1 mr-auto">
          <div class="hamburger-icon mb-2"></div>
          <div class="hamburger-icon mb-2"></div>
        </div>


        <div class="col-lg-4 col-12 mb-3 ml-3">
          <div class="notifications-card">
            <img src="../../../assets/images/Vector (3).png" class="empty scale vector" width="62" height="74"
              id="n53_588">
            <p>Notifications Center</p>
            <div class="second">You have 2 unread notifications</div>
            <div class="third"><span>2</span></div>
          </div>
        </div>

        <div class="col-lg-4 col-12 ml-3">
          <div class="notifications-card">
            <img src="../../../assets/images/user.png" class="empty scale vector" width="62" height="74" id="n53_588">
            <p>Chidimma Nwanya</p>
            <div class="second">Vanity by Juls</div>
            <div class="">
              <button class="logout"><img class="button-img" src="../../../assets/images/power.png" alt="power button">
                <div class="logout-text">Logout</div>
              </button>
            </div>
          </div>
        </div>
      </div>


      <div class="row mt-3">
        <div class="col-1 mt-4 mr-auto">
          <p class="dashboard-text ml-3">Dashboard</p>
        </div>

        <div class="col-lg-4 col-12 my-4">

          <img src="../../../assets/images/spanner.png" class="settings mr-2" alt="">
          <span class="customize mr-2">Customize Dashboard</span>
          <span class="center-border mr-2"></span>
          <span class="date">Mon, Jun 22, 2020</span>


        </div>

      </div>


      <div class="row">
        <div class="col-lg-6">
          <div class="card-1 mb-5 mx-2">

            <div class="row">
              <div class="col-10"></div>
              <div class="col-2">
                <i class="fas fa-times text-white mr-auto m-3"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="card-user ml-3">Welcome back! Chidimma.</p>
              </div>

            </div>

            <div class="row">
              <div class="col-6">
                <p class="card-user-text ml-3">See overview of analytics and reporting metrics and a lot more
                  interesting
                  stuffs you can do here.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <p class="tour-button ml-3"><span class="tour-text text-center p-3 my-auto">Take a Tour</span></p>
              </div>
              <div class="col-6">
                <img src="../../../assets/images/imac.png" alt="" class="imac mb-3">
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6">
          <div class="card-2">
            <div class="row">
              <div class="col-12">
                <p class="card-optimized ml-3 mt-5">OPTIMIZED APPLICATION PROCESSING</p>
              </div>

            </div>

            <div class="row">
              <div class="col-12">
                <p class="card-user-text-optimized ml-3">We’ve optimized the system to process your application as
                  fast
                  as possible. Click on the button below to get started.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <p class="tour-button-blue ml-3"><span class="tour-text-blue text-center p-3 my-auto">New
                    Request</span>
                </p>
              </div>
              <div class="col-6">
                <img src="../../../assets/images/imac.png" alt="" class="imac">
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="card-rows">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="budget-card-white mb-3 mx-auto">
              <div class="row">
                <div class="col-7">
                  <p class="budget-top-text mt-3 ml-3">Annual Play Budget</p>
                </div>
                <div class="col-5  mt-3">
                  <div class="budget-select">
                    <span class="year-select ml-2">This Year <span><i class="fas fa-chevron-down ml-2"></i></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-7">
                  <p class="budget-mid-text mt-2 ml-3">Summary</p>
                </div>

              </div>

              <div class="row">
                <div class="col-8 mx-auto mb-3 chart">
                  <img src="../../../assets/images/cycle2.png" alt="">
                  <div class="chart-text text-center m-auto">CAPEX</div>
                </div>
              </div>

              <div class="row bg-card-white">
                <div class="col-lg-6 col-6">
                  <p class="payable-amount mt-3 ml-3">Total Play (NGN)</p>
                  <p class="amount ml-3 mt-3">50,000,000</p>
                  <p class="payable-amount mt-3 ml-3">Total Spent (NGN)</p>
                  <p class="amount ml-3 mt-3">18,000,000</p>
                </div>
                <div class="col-lg-6 col-6 mt-3">
                  <div class="row">
                    <span class="amount-badges "><img src="../../../assets/images/blue.png" alt=""></span>
                    <p class="payable-amount mt-1 ml-3">Total Spent</p>
                  </div>
                  <div class="row">
                    <span class="amount-badges "><img src="../../../assets/images/white.png" alt=""></span>
                    <p class="payable-amount ml-3">Balance</p>
                  </div>
                  <div class="row">
                    <p class="payable-amount ml-3 ">Balance (NGN)</p>
                    <p class="amount  ml-3">32,000,000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12 mx-auto">
            <div class="budget-card-white mb-3">
              <div class="row">
                <div class="col-7">
                  <p class="budget-top-text mt-3 ml-3">Annual Work Budget</p>
                </div>
                <div class="col-5  mt-3">
                  <div class="budget-select">
                    <span class="year-select ml-2">This Year <span><i class="fas fa-chevron-down ml-2"></i></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-7">
                  <p class="budget-mid-text mt-2 ml-3">Summary</p>
                </div>

              </div>

              <div class="row">
                <div class="col-8 mx-auto mb-3 chart">
                  <img src="../../../assets/images/cycle1.png" alt="">
                  <div class="chart-text text-center">OPEX</div>
                </div>
              </div>

              <div class="row bg-card-orange">
                <div class="col-lg-6 col-6">
                  <p class="payable-amount mt-3 ml-3">Total Work (NGN)</p>
                  <p class="amount ml-3 mt-3">20,000,000</p>
                  <p class="payable-amount mt-4 ml-3">Total Spent (NGN)</p>
                  <p class="amount ml-3 my-3">10,000,000</p>
                </div>
                <div class="col-lg-6 col-6 mt-3">
                  <div class="row">
                    <span class="amount-badges "><img src="../../../assets/images/red.png" alt=""></span>
                    <p class="payable-amount mt-1 ml-3">Total Spent</p>
                  </div>
                  <div class="row">
                    <span class="amount-badges "><img src="../../../assets/images/white.png" alt=""></span>
                    <p class="payable-amount ml-3">Balance</p>
                  </div>
                  <div class="row">
                    <p class="payable-amount ml-3 ">Balance (NGN)</p>
                    <p class="amount  ml-3">10,000,000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="bg-gradient mb-3">
              <div class="row">
                <div class="col-7">
                  <p class="budget-top-text mt-3 ml-3 text-white">Cards Amount</p>
                </div>

              </div>

              <div class="row">
                <div class="col-7">
                  <p class="budget-mid-text mt-2 ml-3 text-white">Summary</p>
                </div>

              </div>

              <div class="row">
                <div class="col-8 mx-auto mb-3 chart">

                  <img src="../../../assets/images/cycle3.png" alt="">
                  <div class="chart-text text-center">ASSETS</div>

                </div>
              </div>

              <div class="row ">
                <div class="col-lg-6 col-6">
                  <p class="payable-amount mt-3 ml-3 text-white">Total Play (NGN)</p>
                  <p class="amount ml-3 mt-3 text-white">50,000,000</p>
                  <p class="payable-amount mt-4 ml-3 text-white">Total Spent (NGN)</p>
                  <p class="amount ml-3 mt-3 text-white">18,000,000</p>
                </div>
                <div class="col-lg-6 col-6 mt-3">
                  <div class="row">
                    <span class="amount-badges "><img src="../../../assets/images/blue.png" alt=""></span>
                    <p class="payable-amount mt-1 ml-3 text-white">Total Spent</p>
                  </div>
                  <div class="row">
                    <span class="amount-badges "><img src="../../../assets/images/white.png" alt=""></span>
                    <p class="payable-amount ml-3 text-white">Balance</p>
                  </div>
                  <div class="row">
                    <p class="payable-amount mt-1 ml-3 text-white">Balance (NGN)</p>
                    <p class="amount  mt-1 ml-3 text-white">32,000,000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
